.ipynb_checkpoints/


python-scraping/access.txt
python-scraping/save-files/

python-scraping/.ipynb_checkpoints/
Text Mining/.ipynb_checkpoints/6. Semantic Text Similarity-checkpoint.ipynb
Text Mining/.ipynb_checkpoints/7. Generative Modeling and LDA-checkpoint.ipynb
Text Mining/.ipynb_checkpoints/1. Handle Text in Python-checkpoint.ipynb
